HW1/main.exe
HW1/output1.txt
HW2/main.exe
HW2/output1.txt
HW3/main.exe
HW3/output1.txt
HW4/main.exe
HW4/output1.txt
LAB1/main.exe
LAB1/output1.txt
LAB2/main.exe
LAB2/output1.txt
LAB3/main.exe
LAB3/output1.txt
LAB4/main.exe
LAB4/output1.txt
LAB5/main.exe
LAB5/output1.txt